@import '@/styles/helpers.scss';

.header {
  width: 100%;
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: var(--separator);
  left: 0;
  right: 0;
  position: fixed;
  top: 0;
  transition: background-color 0.5s ease;
  z-index: 999;
}

.wrapper {
  height: 88px;
  width: var(--width);
  align-items: center;
  display: grid;
  grid-template-columns: 182px auto 182px;
  left: 0;
  margin: 0 auto;

  @include mobile {
    width: var(--width-mobile);
    grid-template-columns: auto;
  }
}

.scrolled {
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.08);
}

.ggmanolo {
  height: 36px;
  width: 36px;
  background: var(--white-08);
  border: 1px solid var(--white-08);
  border-radius: 50%;
  overflow: hidden;

  @include mobile {
    display: none;
  }
}

.button {
  position: relative;
  
  @include mobile {
    display: none;
  }
}

.copy {
  width: 16px;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.show {
  opacity: 1;
  transform: scale(1);
}

.check {
  position: absolute;
  right: 0;
}