@import '@/styles/helpers.scss';

.header {
  width: 100vw;
  border-bottom: none;
  left: 0;
  right: 0;
  position: fixed;
  top: 0;
  transition: all 0.2s ease;
  z-index: 999;
}

.scrolled {
  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: var(--separator);
}

.wrapper {
  height: 88px;
  width: var(--width);
  align-items: center;
  display: grid;
  grid-template-columns: 190px auto 190px;
  left: 0;
  margin: 0 auto;
  
  @include mobile {
    height: 80px;
    width: var(--width-mobile);
    display: flex;
  }
}

.ggmanolo {
  height: 36px;
  width: 36px;
  background: var(--white-08);
  border: 1px solid var(--white-08);
  border-radius: 50%;
  overflow: hidden;

  @include mobile {
    display: none;
  }
}

.button {
  position: relative;
  padding: 0 4px;
  transition: all 200ms ease-out;

  &::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 200ms ease-in;
  }

  svg {
    height: 16px;
    min-width: 16px;
  }
  
  @include mobile {
    display: none;
  }
}

.success {
  color: transparent;
  
  &:hover {
    color: transparent;
  }

  &::after {
    color: var(--white-6);
    opacity: 1;
  }
}

.copy {
  width: 16px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.show {
  opacity: 1;
}

.check {
  color: var(--white-6);
  position: absolute;
  right: 4px;
}