@import '@/styles/helpers.scss';

.link {
  display: inline-block;
  color: var(--white);
  text-decoration: underline;
  transition: all 200ms ease;
  
  &:hover {
    color: rgba(255, 255, 255, 0.64);
  }
  
  @include mobile {
    color: var(--white);
  }
}