@import '@/styles/helpers.scss';

.link {
  display: inline-flex;
  align-items: center;
  color: var(--white);
  gap: 8px;
  justify-content: center;
  text-decoration: underline;
  transition: all 200ms ease;
  
  &:hover {
    color: rgba(255, 255, 255, 0.64);

    @include mobile {
      color: var(--white);
    }
  }
  
  &.active {
    color: var(--pink-light);
    pointer-events: none;

    @include mobile {
      color: var(--pink-light);
    }
  }

  > svg {
    height: 16px;
  }
}