.link {
  width: max-content;
  font-size: 22px;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-transform: uppercase;
  transition: all 0.2s ease;
  padding: 4px 8px;
  background-position: 50% 50%;

  > span {
    display: flex;
    align-items: center;
  }

  &:hover {
    background:
    linear-gradient(to right, white 4px, transparent 4px) 0 0,
    linear-gradient(to right, white 4px, transparent 4px) 0 100%,
    linear-gradient(to left, white 4px, transparent 4px) 100% 0,
    linear-gradient(to left, white 4px, transparent 4px) 100% 100%,
    linear-gradient(to bottom, white 4px, transparent 4px) 0 0,
    linear-gradient(to bottom, white 4px, transparent 4px) 100% 0,
    linear-gradient(to top, white 4px, transparent 4px) 0 100%,
    linear-gradient(to top, white 4px, transparent 4px) 100% 100%;

    background-repeat: no-repeat;
    background-size: 8px 8px;
  }


  &:active {
    opacity: 0.4;
  }
}
