@import "@/styles/helpers.scss";

.wrapper {
  flex: 1;
}

.card {
  height: 100%;
  width: 458px;
  background: var(--dark-6);
  border: 1px solid var(--white-08);
  border-radius: 16px;
  cursor: grab;
  display: flex;
  flex-direction: column;
  padding: 44px 24px 24px;
  z-index: 1;

  &:active {
    cursor: grabbing;
  }

  @include mobile {
    max-width: 80vw;
    min-width: 340px;
    border-color: var(--white-1);
    padding: 24px;
  }
}

.logo {
  $size: 32px;
  font-size: calc($size - 4px);
  font-weight: 700;
  line-height: $size;
  margin-bottom: 28px;

  > svg {
    height: $size;
  }
}

.img {
  width: 100%;
  aspect-ratio: 812/406;
  margin-bottom: 24px;
  border: 1px solid var(--white-08);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  user-select: none;

  @include mobile {
    border-color: var(--white-2);
  }
}

.date {
  color: var(--gray);
  font-size: 14px;
  line-height: 1.71;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  margin-bottom: 8px;
}

.description {
  color: var(--white-6);
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 40px;
}

.cta {
  margin-top: auto;
}
