@import "@/styles/helpers.scss";

.wrapper {
  flex: 1;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.card {
  height: 100%;
  width: 458px;
  background: var(--dark-6);
  border: 1px solid var(--white-08);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 44px 24px 32px;
  user-select: none;
  z-index: 1;

  @include mobile {
    max-width: 80vw;
    min-width: 340px;
    border-color: var(--white-1);
    padding: 24px;
  }
}

.logo {
  $size: 32px;
  font-size: calc($size - 4px);
  font-weight: 700;
  line-height: $size;
  margin-bottom: 28px;

  > svg {
    height: $size;
    max-width: calc(4 * $size);
  }
}

.img {
  width: 100%;
  aspect-ratio: 812/406;
  margin-bottom: 24px;
  border: 1px solid var(--white-08);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  user-select: none;

  @include mobile {
    border-color: var(--white-2);
  }
}

.title-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 16px;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
}

.date {
  color: var(--gray);
  font-size: 14px;
  line-height: 1.71;
}

.position {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 8px;
}

.description {
  color: var(--white-6);
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 16px;
}

.tech {
  border-top: 1px solid var(--white-08);
  color: var(--white-6);
  font-size: 11px;
  margin-top: auto;
  padding-top: 16px;
}
