@import "@/styles/helpers.scss";

.section {
  position: relative;
  overflow: hidden;
}

.cta-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding-bottom: 160px;
  padding-top: 0;
  text-align: center;

  @include mobile {
    gap: 32px;
    padding-bottom: 128px;
  }
}

.text {
  color: var(--gray);
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -0.93px;
  line-height: 1.5;
  max-width: 720px;
  margin: 0;

  @include mobile {
    font-size: 26px;
    line-height: 1.46;
    letter-spacing: -0.5px;
  }

  > span {
    color: var(--pink);
    text-shadow:
      0px -1px 1px var(--white-6),
      0px 1px 3px rgba(0, 0, 0, 0.5),
      0px 0px 15px var(--pink),
      0px 0px 45px rgba(209, 0, 177, 0.8);
  }
}
