@import '@/styles/helpers.scss';

.card {
  width: 458px;
  background: var(--white-02);
  border: 1px solid var(--white-08);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 44px 24px 24px;
  
  @include mobile {
    min-width: 340px;
    padding: 24px;
  }
}

.logo {
  $size: 32px;
  font-size: calc($size - 4px);
  font-weight: 700;
  line-height: $size;
  margin-bottom: 28px;
  
  > svg {
    height: $size;
  }
}

.img {
  width: 100%;
  aspect-ratio: 812/406;
  margin-bottom: 24px;
  border: 1px solid var(--white-08);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  
  img {
    // object-fit: contain;
  }
}

.date {
  color: var(--gray);
  font-size: 14px;
  line-height: 1.71;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  margin-bottom: 8px;
}

.description {
  color: var(--gray);
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 40px;
}

.cta {
  height: 42px;
  width: fit-content;
  border-radius: 99999px;
  font-size: 14px;
  line-height: 1.43;
  margin-top: auto;
  padding: 0 24px;
  text-decoration: none;
  // gradient border with radius
  $border: 1px;
  background: var(--dark);
  background-clip: padding-box;
  border: solid $border transparent;
  position: relative;

  &:before {
    position: absolute;
    background-image: linear-gradient(258.55deg, #FFFFFF 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.5) 100%);
    border-radius: inherit;
    bottom: 0;
    content: '';
    left: 0;
    margin: -$border;
    right: 0;
    top: 0;
    z-index: -1;
  }

  &:hover {
    background-color: var(--black);
    box-shadow: 0px 0px 16px rgba(255, 255, 255, 0.1);
  }
}
