@import "@/styles/helpers.scss";

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  user-select: none;
  will-change: transform;
  z-index: 1;
}

.title {
  position: absolute;
  background: linear-gradient(
    to bottom,
    var(--blue),
    var(--blue-light) 40%,
    var(--black) 40%,
    var(--pink-light) 65%,
    var(--white)
  );
  background-clip: text;
  color: transparent;
  margin: 0;
  opacity: 0;
  text-align: center;
  text-transform: uppercase;
  top: -4px;
  will-change: transform;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--white);

  @include tablet {
    top: 12px;
  }

  @include mobile {
    font-size: 44px;
  }
}

.subtitle {
  position: absolute;
  top: 45px;
  width: 100%;
  color: var(--pink);
  font-family: var(--font-yellowtail);
  font-size: 138px;
  line-height: 1.52;
  opacity: 0;
  margin-left: -24px;
  text-align: center;
  text-decoration: underline;
  text-shadow: var(--glow);
  transform: skew(-10deg) rotate(-10deg);
  will-change: transform;

  @include tablet {
    font-size: 120px;
    top: 60px;
  }

  @include mobile {
    font-size: 64px;
    margin-left: -20px;
    top: 24px;
  }
}

.triangle {
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
  opacity: 0;

  @include mobile {
    height: auto;
    width: 220px;
  }
}

.bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -2;
}
