@import "./helpers";
@import "./reset";

:root {
  --font-system: -apple-system, blinkmacsystemfont, segoe ui, roboto, oxygen,
    ubuntu, cantarell, fira sans, droid sans, helvetica neue, sans-serif;

  --black: #000000;
  --white: #ffffff;
  --white-02: rgba(255, 255, 255, 0.02);
  --white-08: rgba(255, 255, 255, 0.08);
  --white-1: rgba(255, 255, 255, 0.12);
  --white-2: rgba(255, 255, 255, 0.2);
  --white-6: rgba(255, 255, 255, 0.64);
  --dark: #0a0a0a;
  --dark-6: rgba(10, 10, 10, 0.75);
  --gray: #888888;
  --cyan: #36e2f8;
  --pink: #d100b1;
  --pink-light: #e1a0ce;
  --blue: #151c60;
  --blue-light: #c6cbf5;

  --glow: 0 0 1px var(--pink), 0 -1px 3px rgba(255, 255, 255, 0.8),
    0 1px 3px rgba(0, 0, 0, 0.5), 0 0 15px var(--pink),
    0 0 45px rgba(209, 0, 177, 0.8);
  --separator: linear-gradient(
    90deg,
    transparent 0%,
    var(--white-2) 50%,
    transparent 100%
  );
  --width: min(calc(100% - 48px), 1280px);
  --width-mobile: calc(100% - 40px);
}

html {
  line-height: 1.6;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: dark;
  color: var(--white);
  background-color: var(--dark);
  scroll-behavior: smooth;
  font-display: swap;
}

body {
  font-family: var(--font-roboto);
  position: relative;
}

*:focus {
  outline-color: var(--pink) !important;
}

h1 {
  font-size: 120px;
  font-weight: 900;
  line-height: 1.2;
  font-family: var(--font-orbitron);

  @include tablet {
    font-size: 100px;
  }

  @include mobile {
    font-size: 52px;
  }
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
}
