@import "@/styles/helpers.scss";

.button {
  width: fit-content;
  height: 42px;
  align-items: center;
  border: 1px solid var(--white-08);
  background: var(--white-08);
  border-radius: 999px;
  color: var(--white);
  cursor: pointer;
  display: flex;
  gap: 8px;
  justify-content: center;
  font-size: 14px;
  line-height: 1.43;
  padding: 0 24px;
  transition: all 200ms ease;

  &:hover {
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid var(--white-2);
    color: var(--white-6);

    @include mobile {
      border: 1px solid var(--white-08);
      background: var(--white-08);
      color: rgba(255, 255, 255, 0.84);
    }
  }

  svg {
    height: 16px;
  }
}
