@import '@/styles/helpers.scss';

.hero {
  position: relative;
  min-height: 100vh;
  overflow: hidden;

  &:after {
    position: absolute;
    height: 50px;
    width: 100vw;
    background-image: linear-gradient(180deg, transparent 0%, var(--dark) 100%);
    bottom: 0;
    content: '';
    left: 0;
    right: 0;
    z-index: 1;
  }
}

.wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  position: absolute;
  background: linear-gradient(to bottom, var(--blue), var(--blue-light) 40%, var(--black) 40%, var(--pink-light) 65%, var(--white));
  background-clip: text;
  color: transparent;
  font-display: block;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  top: -4px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--white);
  opacity: 0;
  transition: opacity 900ms ease 900ms;

  @include tablet {
    top: 12px;
  }
}

.subtitle {
  position: absolute;
  top: 45px;
  width: 100%;
  color: var(--pink);
  font-display: block;
  font-family: var(--font-yellowtail);
  font-size: 138px;
  line-height: 1.52;
  opacity: 0;
  margin-left: -24px;
  text-align: center;
  text-decoration: underline;
  transform: skew(-10deg) rotate(-10deg);
  text-shadow: 0 0 1px var(--pink), 0 -1px 3px rgba(255, 255, 255, 0.8), 0 1px 3px rgba(0, 0, 0, 0.5), 0 0 15px var(--pink), 0 0 45px rgba(209, 0, 177, 0.8);
  transition: opacity 900ms ease 1200ms;

  @include tablet {
    font-size: 120px;
    margin-left: 0;
    top: 60px;
  }

  @include mobile {
    font-size: 80px;
    top: 24px;
  }
}

.triangle {
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
  transition: all 1500ms ease;

  @include mobile {
    height: auto;
    width: 220px;
  }
}

.loaded {
  .title,
  .subtitle {
    opacity: 1;
  }

  .triangle {
    stroke-dashoffset: 0;
  }
}

.bgsvg {
  position: absolute;
  width: 1440px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: -2;
}

.stars {
  position: absolute;
  height: 973px;
  width: 825px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: -1;
}