@import '../../../styles/helpers.scss';

.retrobg {
	position: relative;
	overflow: hidden;
	height: 100%;
	color: var(--magenta);
	background-color: var(--black);
  height: 100vh;
}

.sky {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  top: 0;
  width: 100%;
  height: 55%;
  background: linear-gradient( #000 75%, var(--blue) );
}

.stars {
  position: absolute;
  width: 100%;
  height: 100%;
}

.star {
  position: absolute;
  border-radius: 50%;
  width: 2px;
  height: 2px;
  background-color: var(--white);
}

.ground {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 45%;
  bottom: 0;
  border-top: 2px solid var(--pink);
  background-color: #000;

  &Shadow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( var(--black) 0%, transparent );
  }
}

.lines {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: top center;
  animation: .35s linear infinite retrobg-lines-anim;

  &Wrap {
    height: 100%;
    perspective: 1000px;
    perspective-origin: center top;
  }
}

.hlines,
.vlines {
  position: absolute;
  left: calc( ( 900% - 100% ) / -2 );
  width: 900%;
  height: 500%;
}

.vlines {
  display: flex;
  justify-content: center;
}

.hline,
.vline {
  width: 100%;
  height: 100%;
  background-color: currentColor;
}

.hline {
  height: 3px;

  & + & {
    margin-top: 98px;
  }
}

.vline {
  width: 3px;

  & + & {
    margin-left: 48px;
  }
}

.title {
  position: absolute;
  font-family: var(--font-title);
  left: 50%;
  line-height: 0.5;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  
  h1 {
    background: linear-gradient(to right, rgba(255, 215, 255, 0) 0%, rgba(225, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0) 61%), linear-gradient(rgb(97, 183, 217) 52%, rgb(224, 246, 255) 60%, rgb(78, 99, 132) 61%);
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 270px;
    margin-top: 15px;
    position: relative;

    &:after {
      position: absolute;
      content: 'GGMANOLO';
      left: 0;
      text-shadow: var(--glow);
      top: 0;
      z-index: -1;
    }
    
    @include mobile {
      font-size: 34px;
    }
  }
  
  h2 {
    animation: 5s linear infinite flicker;
    font-size: 120px;
    margin-top: 20px;
    transition: all 200ms;

    @include mobile {
      font-size: 24px;
    }
  }
}

.arrow {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  margin: 200px auto 0;
  z-index: 1;

  span {
    width: 35px;
    height: 35px;
    animation: pulse 2s infinite;
    display: block;
    border-bottom: 10px solid var(--white);
    border-right: 10px solid var(--white);
    filter: var(--glow-shadow);
    margin: 5px;
    transform: rotate(45deg);

    &:nth-child(2) {
      animation-delay: -250ms;
    }

    &:nth-child(3) {
      animation-delay: -500ms;
    }
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-15px, -15px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(15px, 15px);
  }
}

@keyframes retrobg-lines-anim {
	from {
    transform: rotateX( 84deg ) translateY( 0 );
  }
	to {
    transform: rotateX( 84deg ) translateY( 100px );
  }
}

@keyframes flicker {
  0%, 100% {
    color: var(--blue-60);
    opacity: 0;
    text-shadow: none;
  }
	3%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 97% {
    color: var(--white);
		opacity: 1;
    text-shadow: var(--glow);
  }
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    color: var(--blue-60);
		opacity: 0.4;
		text-shadow: none;
	}
}
