.hero {
  position: relative;
  min-height: 100vh;
  background-image: radial-gradient(ellipse farthest-corner at center top, #23233f 0%, transparent 60%);
  background-size: cover;
  background-position: top center;
  overflow: hidden;
}

.wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  position: absolute;
  background: linear-gradient(to bottom, #151C60, #C6CBF5 40%, black 40%, #E1A0CE 65%, var(--white));
  background-clip: text;
  color: transparent;
  font-display: block;
  font-family: var(--font-orbitron);
  font-size: 120px;
  font-weight: 900;
  line-height: 1.2;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--white);
  opacity: 0;
  transition: opacity 900ms ease 900ms;
}

.subtitle {
  position: absolute;
  top: 60px;
  width: 100%;
  color: #d100b1;
  font-display: block;
  font-family: var(--font-yellowtail);
  font-size: 140px;
  text-align: center;
  text-decoration: underline;
  transform: skew(-10deg) rotate(-10deg);
  text-shadow: 0 0 1px #d100b1, 0 -1px 3px rgba(255, 255, 255, 0.8), 0 1px 3px rgba(0, 0, 0, 0.5), 0 0 15px #d100b1, 0 0 45px rgba(209, 0, 177, 0.8);
  opacity: 0;
  transition: opacity 900ms ease 1200ms;
}

.triangle {
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
  transition: all 1500ms ease;
}

.space {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.loaded {
  .title,
  .subtitle {
    opacity: 1;
  }

  .triangle {
    stroke-dashoffset: 0;
  }
}