.contact-section {
  min-height: 100vh;
  background: var(--dark);
}

.title {
  margin-bottom: 24px;
}

.description {
  font-size: 18px;
}

.email {
  color: var(--pink);
  text-decoration-line: underline;
  text-decoration-style: dashed;
}