@import '@/styles/helpers.scss';

.footer {
  height: 122px;
  width: var(--width);
  align-items: center;
  border-top: 1px solid;
  border-image-slice: 1;
  border-image-source: var(--separator);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  @include mobile {
    height: 64px;
    width: var(--width-mobile);
  }
}

.github {
  > span {
    @include mobile {
      display: none;
    }
  }
}

.back {
  text-decoration: none;
}