@import '@/styles/helpers.scss';

.footer {
  height: 122px;
  width: var(--width);
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  @include mobile {
    width: var(--width-mobile);
  }
}