@import '@/styles/helpers.scss';

.button {
  height: 42px;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 999px;
  color: var(--white);
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 1.43;
  padding: 0 24px;
  transition: all 200ms ease;
  
  &:hover {
    border-color: var(--white);
  }
  
  @include mobile {
    border-color: var(--white);
  }

  svg {
    height: 16px;
    margin-left: 8px;
  }
}
