@import '@/styles/helpers.scss';

.button {
  height: 42px;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.08);
  background: rgba(255, 255, 255, 0.02);
  border-radius: 999px;
  color: var(--white);
  cursor: pointer;
  display: flex;
  gap: 8px;
  justify-content: center;
  font-size: 14px;
  line-height: 1.43;
  padding: 0 24px;
  transition: all 200ms ease;
  
  &:hover {
    color: rgba(255, 255, 255, 0.64);
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.04);
  }
  
  @include mobile {
    border: 1px solid rgba(255, 255, 255, 0.08);
  }

  svg {
    height: 16px;
  }
}
