.nav {
  background: var(--white-08);
  border: 1px solid var(--white-08);
  border-radius: 999px;
  margin: 0 auto;
  
  .link {
    height: 42px;
    border-radius: 32px;
    font-size: 14px;
    line-height: 1.43;
    padding: 0 24px;
    text-decoration: none;
  }
}
