@import '@/styles/helpers.scss';

.about-section {
  display: grid;
  grid-template-columns: auto min(584px, 50%);
  gap: 48px;
  padding-bottom: 160px;
  padding-top: 160px;
  
  @include mobile {
    display: flex;
    flex-direction: column;
    grid-template-columns: auto;
    gap: 0;
    padding-bottom: 56px;
    padding-top: 98px;
  }
}

.title {
  color: var(--gray);
  font-weight: 600;
  font-size: 32px;
  letter-spacing: -0.93px;
  line-height: 1.75;
  margin-bottom: 40px;

  @include mobile {
    font-size: 26px;
    line-height: 1.46;
  }

  > span {
    color: var(--pink);
    text-shadow: 0px -1px 1px var(--white-6), 0px 1px 3px rgba(0, 0, 0, 0.5), 0px 0px 15px var(--pink), 0px 0px 45px rgba(209, 0, 177, 0.8);
  }
}

.description {
  color: var(--gray);
  font-size: 20px;
  letter-spacing: -0.33px;
  margin-top: 8px;

  @include mobile {
    font-size: 18px;
    margin: 0 0 40px;
  }

  p:not(:last-child) {
    margin-bottom: 32px;
  }
}

button.desktop {
  @include mobile {
    display: none;
  }
}

button.mobile {
  display: none;

  @include mobile {
    display: flex;
  }
}