@import './helpers';
@import './reset';
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=block';
@import 'https://fonts.googleapis.com/css2?family=Yellowtail&display=block';
@import 'https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;900&display=block';

:root {
  --font-system: -apple-system, blinkmacsystemfont, segoe ui, roboto, oxygen,
    ubuntu, cantarell, fira sans, droid sans, helvetica neue, sans-serif;
  --font-orbitron: 'Orbitron', sans-serif;
  --font-yellowtail: 'Yellowtail', cursive;
  --font-roboto: 'Roboto', sans-serif;
  
  --black: #000000;
  --white: #ffffff;
  --white-08: rgba(255, 255, 255, 0.08);
  --dark: #0a0a0a;
  --gray: #888888;
  --cyan: #36E2F8;
  --pink: #d100b1;
  --pink-light: #e1a0ce;
  --blue: #151c60;
  --blue-light: #c6cbf5;

  --separator: linear-gradient(90deg, transparent 0%, var(--white-08) 50%, transparent 100%);
  --width: min(calc(100% - 48px), 1280px);
  --width-mobile: calc(100% - 40px);
}

html {
  line-height: 1.6;
  box-sizing: border-box;
  text-rendering: geometricprecision;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: dark;
  color: var(--white);
  background-color: var(--dark);
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-roboto);
  position: relative;
}

h1 {
  font-size: 120px;
  font-weight: 900;
  line-height: 1.2;
  font-family: var(--font-orbitron);

  @include tablet {
    font-size: 100px;
  }

  @include mobile {
    font-size: 52px;
  }
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
}
