@import './helpers';
@import './reset';
@import 'https://fonts.googleapis.com/css?family=VT323';

:root {
  --font-system: -apple-system, blinkmacsystemfont, segoe ui, roboto, oxygen,
    ubuntu, cantarell, fira sans, droid sans, helvetica neue, sans-serif;
  --font-wildworld: 'Wild World';
  --font-vt: 'VT323', monospace;
  
  --white: #ffffff;
  --black: #000000;
  --magenta: #a3c;
  --pink: #bf578c;
  --cyan: #0ff;
  --blue: #224499;
  --blue-60: rgba(34, 68, 153, 0.6);
}

html {
  line-height: 1.5;
  box-sizing: border-box;
  text-rendering: geometricprecision;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: dark;
  color: var(--white);
  background-color: var(--black);
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-vt);
  position: relative;
}
